description "Consul server process"

start on (local-filesystems and net-device-up IFACE=eth1)
stop on runlevel [!12345]

respawn

setuid consul
setgid consul

exec consul agent -config-file {{ configfile }} -config-dir {{ configdir }} -bind={{ ansible_host }}
