{
    "bootstrap": true,
    "server": true,
    "datacenter": "{{ datacenter }}",
    "node_name": "{{ inventory_hostname }}",
    "data_dir": "{{ datadir }}",
    "log_level": "INFO",
    "encrypt": "gnrs3cVRSlIIZGFdK6NazA==",
    "enable_syslog": true
}
